{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    MISPISIT
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{% static '/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static '/css/black-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/css/demo/demo.css' %}" rel="stylesheet" />
</head>

{% block content %}
{% endblock %}

  <script src="{% static '/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/js/core/popper.min.js' %}"></script>
  <script src="{% static '/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static '/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static '/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/js/black-dashboard.min.js?v=1.0.0' %}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static '/demo/demo.js' %}"></script>
{% block extrajs %}
{% endblock %}

</html>